<%# Write your code here! %>

<h1>Welcome!</h1>

<h4>If you tell me your name, I can say hi!</h4>

<form action='/greet' method="POST">
    <label for="user_name">Name:</label>
    <input type="text" name="user_name" id="user_name"/>
    <p><input type="submit" value="Submit"/></p>
</form>

<h4>Or you can tell me the year you was born</h4>
<form action="/year" method="POST">
    <label for="year_num">Year:</label>
    <input type="text" name="year_num" id="year_num"/>
    <p><input type="submit" value="Submit"/></p>
</form>

<h4>How about you tell me your nickname</h4>
<form action="/nickname" method="post">
    <label for="nickname">Your Nickname:</label>
    <input type="text" name="nickname"/>
    <p><input type="submit" name="submit"></p>
</form>